@import "tailwindcss";
/* *{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  box-sizing: border-box;
} */

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;

  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}
#sec1-container {
  background-image: url("/public/assets/coffee_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sec5-container {
  background-image: url("./../assets/Group_46.png");
  background-size: cover;
  background-position: center;
}
#footer-top-container {
  background-image: url("./../assets/Group_46.png");
  background-size: cover;
  background-position: center;
}
#footer-bottom-container {
  background-image: url("./../assets/fotter_image.png");
  background-size: contain;
  background-position:bottom;
  background-repeat: no-repeat;
}
#coffe-title {
  font-family: "Clicker Script", cursive;
}
.textColor {
  color: #5b3620;
}
.secColor {
  color: rgb(153, 149, 149);
}
